/* Paisagem */
@media screen and (min-aspect-ratio: 1/1) {
    .game {
        width: 90vh;
        height: 90vh;
    }
    .container {
        flex-direction: row;
    }
    #controles {
        flex-direction: column;
    }
    #container-interno {
        width: 30vh;
        height: 100vh;
    }
    h2 {
        font-size: 5vh;
    }
    h3, .reset {
        font-size: 3vh;
    }
    input {
        width: 100%;
    }
}

/* Retrato */
@media screen and (max-aspect-ratio: 1/1) {
    .game {
        width: 80vw;
        height: 80vw;
    }
    .container {
        flex-direction: column;
    }
    #controles {
        flex-direction: row;
    }
    #container-interno {
        width: 60vw;
        height: 40vw;
    }
    h2 {
        font-size: 5vw;
    }
    h3, .reset {
        font-size: 3vw;
    }
    input {
        width: 100%;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #012521;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 20px;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

h2 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.reset {
    padding: 5px 5px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    margin: 10px;
    border-radius: 1vw;
}

.reset:hover {
    color: #ec38bc;
    background-color: #262809;
}

.game {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1%;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transform: rotateY(180deg);
    transition: 0.25s;
    border-radius: 0.5vw;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #7dd1f1;
    
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border-radius: 0.5vw;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}

h3 {
    color: white;
}

#controles {
    display: flex;
    width: auto;
    height: auto;
}

#qtd-controles {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#container-interno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}